<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8" />

  <title>Hieu Duong</title>

  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet'>

  <!-- IE fix for HTML5 tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

  <header>
    <h1><span class="orange">*</span> UNDER CONSTRUCTION <span class="orange">*</span></h1>
    <div id="text">
      <div class="days">DAYS</div>
      <div class="hours">HOURS</div>
      <div class="minutes">MINUTES</div>
      <div class="seconds">SECONDS</div>
    </div>
    <div id="counter"></div>
  </header>

  <div id="main" class="container_12">
    <p>My new, <span class="blue">awesome website</span> is almost ready. Please hang tight during<br /> my <span class="blue">development process.</span></p>
    <div id="about_us" class="grid_4">
      <h2>About me</h2>
      <p>
        My name is Hieu Duong.<br />
        I'm an aspiring software engineer.<br />
        I love the Seattle startup community.<br />
        Ruby on Rails is super awesome.<br />
      </p>
    </div>
    <div id="contact" class="grid_4">
      <h2>Contact</h2>
      <p>
        <span class="gray">Email:</span> hieu@qhduong.com<br />
        <span class="gray">Tel:</span> 206 395 5055<br />
        <span class="gray">Website:</span> qhduong.com<br />
      </p>
    </div>
    <div id="follow_us" class="grid_4">
      <h2>Follow me</h2>
      <p>
        <a class="facebook" href="http://facebook.com/qhduong"></a>
        <a class="twitter" href="http://twitter.com/qhduong"></a>
      </p>
    </div>
  </div>

  <footer class="container_12">
    <p><span class="opacity40">* *</span> <span class="footer-orange">*</span> <span class="opacity40">* *</span></p>
  </footer>

</body>

</html>
